---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-subtitle { font-size: 34px; letter-spacing: -1px; line-height: 1; color: #585858}
@media screen and (max-width: 800px) { .post-subtitle { font-size: 32px; } }

/** Posts */
.post-header { margin-bottom: 30px; }

.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; }
@media screen and (max-width: 800px) { .post-title { font-size: 36px; } }

.post-content { margin-bottom: 30px; }
.post-content h1 { font-size: 32px; }
@media screen and (max-width: 800px) { .post-content h1 { font-size: 28px; } }
.post-content h2 { font-size: 28px; }
@media screen and (max-width: 800px) { .post-content h2 { font-size: 24px; } }
.post-content h3 { font-size: 24px; }
@media screen and (max-width: 800px) { .post-content h3 { font-size: 20px; } }
.post-content h4 { font-size: 20px; }
@media screen and (max-width: 800px) { .post-content h4 { font-size: 16px; } }